:root{
--dark: #1E1E1E;
--miku: #0B8673;
--bright: #F5FAFF;
}
body{
    display: flex;
    padding:  10px;
    border: solid 2px;
    width: 98%;
    height: 95vh;
    flex-direction: column;
}

#navi{
display: flex;
border: solid 4px;
border-radius: 2px;
justify-content: space-evenly;
align-items: center;
height: 120px;
width: 1300px;
}
#art{
display: flex;
flex-direction: row;
background-color: var(--dark);
height: 700px;
width: 1300px;
border: 2px solid var(--dark);
flex-wrap: wrap;
margin-top: 10px;
}
#ass{

}
#avatar{
    display: flex;
    justify-self: center;
    margin: 40px;
}
a{
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 80px;
    width: 145px;
    background-color: var(--miku);
    color: var(--bright);
}
hr{

}

